{% extends "index.html" %}
  {% block content %}
   <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Introduction</h2>
        <p>Welcome to Medic, your reliable medication tracker designed to simplify your health management.</p>
    </section>

    <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Key Features</h2>
        <ul class="list-disc ml-8">
            <li>Track and manage your medications effortlessly.</li>
            <li>Receive timely reminders for medication doses.</li>
        </ul>
    </section>

    <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Mission Statement</h2>
        <p>Our mission is to empower individuals to take control of their health by providing a user-friendly and effective medication tracking solution.</p>
    </section>

    <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Development Team</h2>
        <p>The Medic app is developed by a passionate team dedicated to improving healthcare management. Meet our team:</p>
    </section>

    <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Contact Information</h2>
        <p>Have questions or feedback? Contact us at <a href="mailto:info@medicapp.com" class="text-blue-500">info@medicapp.com</a>.</p>
    </section>

    <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Privacy and Security</h2>
        <p>We prioritize your privacy and implement robust security measures to safeguard your sensitive information.</p>
    </section>
  {%endblock%}