{% extends "index.html" %} {% block content %}
<div>
  <h3
    class="flex font-bold underline items-center text-4xl justify-center text-blue-500 mb-12"
  >
    CONTACT US
  </h3>
  <section class="container mx-auto my-8">
    <h2 class="text-2xl font-bold mb-4">Get in Touch</h2>
    <p>
      We'd love to hear from you! Feel free to reach out for any questions,
      feedback, or assistance.
    </p>
  </section>

  <section class="container mx-auto my-8">
    <h2 class="text-2xl font-bold mb-4">Contact Information</h2>
    <p>
      Email:
      <a href="mailto:info@medicapp.com" class="text-blue-500"
        >info@medicapp.com</a
      >
    </p>
    <p>Phone: +17185817701</p>
  </section>
</div>
{%endblock%}