{% extends "index.html" %}
  {% block content %}
<section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Medication Tracking</h2>
        <p>Effortlessly manage and track your medications with our intuitive and user-friendly interface.</p>
    </section>

    <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Reminder System</h2>
        <p>Stay on top of your medication schedule with our reliable reminder system, ensuring you never miss a dose.</p>
    </section>

    <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Health Insights</h2>
        <p>Gain valuable insights into your health by tracking your medication history and adherence over time.</p>
    </section>

    <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">User-Friendly Interface</h2>
        <p>Enjoy a seamless experience with our easy-to-navigate and visually appealing user interface.</p>
    </section>

    <section class="container mx-auto my-8">
        <h2 class="text-3xl font-bold mb-4">Personalized Profiles</h2>
        <p>Create personalized profiles for each family member, making it easy to manage multiple health profiles in one place.</p>
    </section>
    {%endblock%}